---
import { Image } from "astro:assets";

const { title, image } = Astro.props;
---

<a
    class="lg:w-180 h-56 relative overflow-hidden rounded-xl cursor-pointer group"
    id={title.replace(/\s+/g, "")}
    href={`/dienstleistungen/${title.toLowerCase().replace(/\s+/g, "-")}`}
>
    <Image
        src={image}
        alt={title}
        class="absolute w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
    />
    <div
        class="w-full h-full flex items-center justify-center relative backdrop-blur-sm text-white"
    >
        <h3 class="text-4xl font-pasadena">{title}</h3>
    </div>
</a>
