---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="px-4 md:px-56 pt-24">
        <h1
            class="text-5xl border-s-5 border-[#f39200] px-4 font-pasadena mb-8"
        >
            Kontakt
        </h1>

        <p>Holzhof Aschendorf</p>
        <p>Hüntestraße 81</p>
        <p>26871 Aschendorf</p>
        <p>Telefon 04962 / 9069231</p>
        <p>Mail: info@holzhof-aschendorf.de</p>
        <p class="mt-2 font-semibold">Bürozeiten:</p>
        <p>Mo. - Fr. 08:00 - 14:00 Uhr</p>
        <p class="mt-2 font-semibold">Verkauf:</p>
        <p>Fr. 15:00 - 18:00, Sa. 09:00 - 13:00 Uhr</p>
    </div>
</Layout>
