---

---

<footer
    class="w-full h-64 md:px-56 px-4 bg-linear-to-t from-[#f39200]/20 to-transparent text-black flex flex-col items-center justify-center"
>
    <p>
        &copy; {new Date().getFullYear()} Holzhof Aschendorf
    </p>
    <a href="/kontakt" class="font-semibold mt-4">Kontakt</a>
    <a href="/impressum" class="font-semibold mt-4">Impressum</a>
</footer>
