---
import { Image } from "astro:assets";
import BaumImage from "../assets/baum.png";
import Section from "../components/section.astro";
---

<Section id="about">
    <h1 class="text-5xl border-s-5 border-[#f39200] px-4 font-pasadena">
        Holzhof Aschendorf
    </h1>
    <div class="grid xl:grid-cols-2 gap-12 mt-8">
        <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-2">
                <h2 class="font-pasadena text-2xl">Über uns</h2>
                <p class="text-xl">
                    Am 01.12.2013 wurde der Holzhof Aschendorf von Stefan Eiken
                    gegründet und hat sich seitdem zu einem etablierten
                    Unternehmen rund um das Thema Baum entwickelt. Sei es die
                    Baumpflege oder Baumfällungen, Wurzelfräsen oder aber die
                    Entfernung des Eichenprozessionsspinners, wir sind für Sie
                    und Euch da. Aber auch der Kaminholzverkauf, aus welchem
                    heraus der Holzhof Aschendorf entstanden ist, zählt
                    weiterhin zu einem wichtigen Standbein unseres Unternehmens.
                </p>
                <p class="text-xl">
                    Seit dem Jahr 2024 haben wir unser Angebotsportfolio um die
                    Gartenpflege erweitert und stehen unseren Kunden mit Rat und
                    Tat zur Seite, wenn sie ihren Garten gepflegt haben wollen.
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="font-pasadena text-2xl">Öffnungszeiten</h2>
                <h2 class="font-pasadena text-xl">Büro</h2>
                <p>Mo - Fr: 08:00 - 14:00 Uhr</p>
                <h2 class="font-pasadena text-xl">Verkauf</h2>
                <p>Fr. 15:00 - 17:00 Uhr, Sa. 09:00 - 13:00 Uhr</p>
                <p>Kartenzahlung möglich</p>
            </div>
        </div>
        <div>
            <Image src={BaumImage} alt="Baum" class="rounded-xl" />
        </div>
    </div>
</Section>
