---
import { Image } from "astro:assets";

import BaumImage from "../assets/baum2.png";
import RindenmulchImage from "../assets/rindenmulch.jpg";
import MulcherImage from "../assets/mulcher.jpg";
import Section from "./section.astro";

import ServiceCard from "./services/service-card.astro";
import { useTranslate } from "../i18n";

const { t } = await useTranslate("services", Astro.currentLocale);
---

<Section id="dienstleistungen">
    <h2 class="text-5xl border-s-5 border-[#f39200] px-4 font-pasadena mb-8">
        {t("title")}
    </h2>
    <div class="flex-col lg:flex-row flex justify-start gap-8 lg:gap-24">
        <ServiceCard title={t("tree-care")} image={BaumImage} />
        <ServiceCard title={t("local-work")} image={MulcherImage} />
        <ServiceCard title={t("sales")} image={RindenmulchImage} />
    </div>
</Section>
